<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block head %}
<head>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
{% endblock %}

{% block content %}
<body>
    <section>
            <div class="description">
                <h2>{{ price.item.name }}</h2>
                <h3>{{ price.item.description }}</h3>
                <div>
                    <h5>{{ price.tax }}</h5>
                    <h5>{{ price.discount }}</h5>
                    <form action="{% url 'items:buy' price.id %}" method="POST">
                        {% csrf_token %}
                        <select name="currency" class="form-control" id="price_stripe_id">
                            <option disabled> Цена товара </option>
                            <option value="usd"> <h5>${{ price.get_display_price_usd }}</h5> </option>
                            <option value="eur"> <h5>€{{ price.get_display_price_eur }}</h5> </option>
                        </select>
                        <button type="submit"> К оплате </button>
                    </form>
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'items:add-to-cart' price.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit"> Добавить в корзину </button>
                        </form>
                    {% else %}
                        <a href="{% url 'login'%}"> Авторизуйтесь для добавления в корзину </a>
                    {% endif %}
                </div>
            </div>
    </section>
</body>
{% endblock %}
</html>