<!DOCTYPE html>
{% load static %}
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    {% block head %} {% endblock %}
  </head>
  <body>       
    <header>
    </header>
    <title> {% block title %} {% endblock %} </title>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer>
    </footer>
  </body>
</html>