<!DOCTYPE html>
{% load static %}
<html>
<head>
  <title>Checkout canceled</title>
  <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="stylesheet" type="text/css" href= "{% static 'css/style.css' %}">
</head>
<body>
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
  </section>
</body>
</html>