<!DOCTYPE html>
{% extends 'base.html' %}
<html>

{% block head %}
<head>
    <title> Your shopping cart </title>
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
</head>
{% endblock %}

{% block content %}
<body>
    {% for price in order.prices %}
        <section>
            <div class="product">
                <div class="description">
                    <h2>{{ price.item.name }}</h2>
                    <h3>{{ price.item.description }}</h3>
                    <div>
                        <h5>${{ price.get_display_price }}</h5>
                        <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                            {% csrf_token %}
                            <button type="submit"> Buy now </button>
                        </form>
                        <form action="{% url 'item' %}">
                            <button> Have a closer look </button>
                        </form>
                    </div>
                </div>
            </div>
        </section>  
    {% endfor %}
    <section>
        <div class="total">
            <div class="description">
                <h3>{{ Your total: }}</h3>
                <div>
                    <h5>${{ order.get_full_price }}</h5>
                    <form action="{% url 'create-checkout-session' price.id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit"> Buy now </button>
                    </form>
                </div>
            </div>
        </div>
    </section> 
</body>
{% endblock %}
</html>