body {
  display: flex;
  text-align: center;
  background: #6b3508;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Helvetica Neue', 'Ubuntu', sans-serif;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
section {
  background: #d0b64b;
  display: flex;
  width: 700px;
  height: 250px;
  border-radius: 6px;
  justify-content: space-between;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.product {
  background: #d0b64b;
  display: flex;
  width: 700px;
  height: 150px;
  border-radius: 10px;
  justify-content: space-between;
}
.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.total {
  display: inline-block;
  background: #c66900;
  border-radius: 10px;
  width: 700px;
  margin: 20px;
  padding: 10px 20px;
}
p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #292005;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #f4da16;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
img {
  border-radius: 6px;
  margin: 10px;
  width: 54px;
  height: 57px;
}
h3,
h5 {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: -0.154px;
  color: #392101;
  margin: 5px;
}
h5 {
  opacity: 0.5;
}

button {
  height: 36px;
  background: hsl(25, 95%, 30%);
  color: rgb(212, 206, 155);
  font-size: 14px;
  border: 0;
  font-weight: 500;
  cursor: pointer;
  margin: 5px;
  letter-spacing: 0.6;
  border-radius: 0 0 6px 6px;
  transition: all 0.2s ease;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}
button:hover {
  opacity: 0.8;
}

.product-card {
  display: inline-block;
  width: 450px;
  margin: 20px;
  padding: 10px 20px;
  background-color: #d0b64b;
  border-radius: 10px;
  border: 2px;
}

.product-card-cart {
  display: inline-block;
  width: 700px;
  margin: 20px;
  padding: 10px 20px;
  background-color: #d0b64b;
  border-radius: 10px;
  border: 2px;
}

.message {
  display: inline-block;
  margin-top: 50%;
  margin-left: 70%;
  width: 500px;
  height: 80px;
  background-color: #d0b64b;
  border-radius: 10px;
  border: 2px;
}

.signup {
  padding: 10px 0 10px 50px;
  margin: 50px 35%;
  width: 700px;
  height: 400px;
  background-color: #d0b64b;
  border-radius: 10px;
  border: 2px;
}

.card-body {
  text-align: left;
}

.text-muted {
  opacity: 0.5;
}